*{
  box-sizing: border-box;
}

.full-wd{
  height: 100vh;
  overflow: auto;
}

.center{
  justify-content: center;
  align-items: center;
}

section{
  align-items: flex-start;
}

h1{
  margin: 0px;
  color: #4c4c4c;
}

a{
  color: inherit;
  text-decoration: none;
  display: flex;
}

div, form{
  display: flex;
  flex-wrap: wrap;
}

/** Colunas  */
.col{
  flex-wrap: wrap;
  display: flex;
}

.s1{
  width: 6.25%;
}
.s2{
  width: 12.5%;
}
.s3{
  width: 18.75%;
}
.s4{
  width: 25%;
}
.s5{
  width: 31.25%;
}
.s6{
  width: 37.5%;
}
.s7{
  width: 43.75%;
}
.s8{
  width: 50%;
}
.s9{
  width: 56.25%;
}
.s10{
  width: 62.5%;
}
.s11{
  width: 68.75%;
}
.s12{
  width: 75%;
}
.s13{
  width: 81.25%;
}
.s14{
  width: 87.5%;
}
.s15{
  width: 93.75%;
}
.s16{
  width: 100%;
}

/* Modal */
.ReactModal__Overlay{
  background-color: #364a4cb5 !important;
  z-index: 2;
}